name: Sync labels
on:
    workflow_dispatch:
    schedule:
        - cron: "0 */1 * * *"

jobs:
    labels:
        runs-on: ubuntu-latest

        steps:
            - uses: EndBug/label-sync@v2
              with:
                  # If you want to use a source repo, you can put is name here (only the owner/repo format is accepted)
                  source-repo: shriproperty/.github

                  # If you want to delete any additional label, set this to true
                  delete-other-labels: true

                  # If you want the action just to show you the preview of the changes, without actually editing the labels, set this to true
                  dry-run: false

                  # You can change the token used to change the labels, this is the default one
                  token: ${{ secrets.GH_TOKEN }}
